body {
  background-image: url("../images/dashboard.png");
  height:100vh;
  width:100%;
  background-position: center;
  margin:0px
}
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width:100%;
  background-image: url("../images/login-image.png");
  background-position: center;
}
.log-in-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  height:50vh;
  justify-content: center;
  width:30%;
  background: white;
  border-radius: 10%;
}
nav {
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
h1 {
  font-size: xx-large;
}
h2 {
  font-size: large;
}
nav > img {
  border-radius: 50%;
}
main {
  display: flex;
  flex-direction: column;
}
.trips-categories {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background-color: bisque;
  border:2px solid black;
}
.dashBoard-container {
  display: flex;
  flex-direction: row;
  height: 78vh;
  width:100%;
}
.trip-view {
  width:80%;
}
.book-trip {
  display: flex;
  flex-direction: column;
  width: 20%;
  border: 2px solid rgb(237, 203, 31);
  justify-content: space-evenly;
  align-items: center;
  background-color: blanchedalmond;
}

.all-status-trips,
.upcoming,
.pending,
.past {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height:70vh;
  padding:15px;
}
.destination-img{
  width:100%;
}
.trip-details > h5,
.trip-details > p{
  margin: 0px;
  font-size: small;
}
h3 {
  display: flex;
  justify-content: center;
}
img {
  width:10%;
  height:105px;
}
.trip,
.future-trips,
.pending-trips,
.past-trips {
  width: 15%;
  height: 30vh;
  margin: 5px;
  background: white;
  padding: 12px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: beige;
  width:75%;
}
.log-in-form > input {
  margin:5px;
}

.log-out {
  padding:5px;
}
.log-out:hover,
.log-in-btn:hover,
.reset-radios:hover {
  background-color: rgb(0, 153, 255);
  border: 2px solid black;
}

.hidden {
  display: none;
}
